            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'pharmacy:dashboard' %}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Eczane CRM</div>
                </a>
    
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
    
                <!-- Nav Item - Dashboard -->
                <li class="nav-item {% if request.path == '/dashboard' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'pharmacy:dashboard' %}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Kontrol Paneli</span></a>
                </li>
        

                <!-- Divider -->
                <hr class="sidebar-divider">
    
                <!-- Heading -->
                <div class="sidebar-heading">
                    Menü
                </div>
                {% if request.user.userprofile.status == 1 %}
                                <!-- Nav Item - Pages Collapse Menu -->
                                <li class="nav-item {% if request.path == '/add/item' %} active {% endif %}">                      
                                        <a class="nav-link " href="{% url 'items:add_item' %}">
                                            <i class="fa fa-plus"></i>
                                            <span>Malzeme Ekle</span>
                                        </a>
                                </li>

                                <li class="nav-item {% if request.path == '/add/pharmacy' %} active {% endif %}">                      
                                    <a class="nav-link"  href="{% url 'accounts:add_pharmacy' %}">
                                        <i class="fa fa-plus"></i>
                                        <span>Eczane Ekle</span>
                                    </a>  
                                </li>



                                <li class="nav-item {% if request.path == '/items' %} active {% endif %}">                      
                                    <a class="nav-link" href="/items">
                                        <i class="fa fa-box-open"></i>
                                        <span>Malzemeler</span>
                                    </a>
                                </li>
                                
                                <li class="nav-item {% if request.path == '/item/distribution' %} active {% endif %}">                      
                                    <a class="nav-link" href="/item/distribution">
                                        <i class="fa fa-truck"></i>
                                        <span>Malzeme Dağıtım</span>
                                    </a>
                                </li>
                                
                                <li class="nav-item {% if request.path == '/item/distribution/list' %} active {% endif %}">                      
                                    <a class="nav-link" href="/item/distribution/list">
                                        <i class="fa fa-list-ul"></i>
                                        <span>Malzeme Dağıtım Listesi</span>
                                    </a>
                                </li>
                                {% comment %} <li class="nav-item">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="fas fa-fw fa-cog"></i>
                                        <span>Malzeme Yönetimi</span>
                                    </a>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                        <div class="bg-white py-2 collapse-inner rounded">
                                            <h6 class="collapse-header">Malzeme Yönetimi:</h6>
                                            <a class="collapse-item" href="{% url 'items:item_list' %}">Malzemeler</a>
                               
                           
                                            <a class="collapse-item" href="{% url 'items:item_distribution' %}">Malzeme Dağıtım</a>
                                            <a class="collapse-item" href="{% url 'items:item_distribution_list' %}">Malzeme Dağıtım Listesi</a>
                                        </div>
                                    </div>
                                </li>
                     {% endcomment %}
                                <!-- Nav Item - Utilities Collapse Menu -->


                   
                                <li class="nav-item {% if request.path == '/pharmacy/list' %} active {% endif %}">  
                                        <a class="nav-link"  href="{% url 'accounts:pharmacy_list' %}">
                                            <i class="fa fa-briefcase-medical"></i>
                                            <span>Ezcaneler</span>
                                        </a>                                
                                </li>

                    
                {% else %}
                
                {% endif %}

                {% if request.user.userprofile.status != 1 %}
                <li class="nav-item {% if request.path == '/sell/item' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'pharmacy:sell_item' %}">
                        <i class="fa fa-money-bill"></i>
                        <span>Satış Yap</span></a>
                </li>
                <li class="nav-item {% if request.path == '/sell/history' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'pharmacy:sell_history' %}">
                        <i class="fas fa-wallet"></i>
                        <span>Satış Geçmişi</span></a>
                </li>

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item {% if request.path == '/purchase/history' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'pharmacy:purchase_history' %}">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            <span>Satınalma Geçmişi</span></a>
                    </li>
                {% else %}
                {% endif %}
                {% comment %} <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                        aria-expanded="true" aria-controls="collapsePages">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Pages</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Login Screens:</h6>
                            <a class="collapse-item" href="{% url 'accounts:signin' %}">Login</a>
                            <a class="collapse-item" href="{% url 'accounts:register' %}">Register</a>

                        </div>
                    </div>
                </li> {% endcomment %}
    

    

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
    
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
    

    
            </ul>
            <!-- End of Sidebar -->