{% extends 'layout.html' %}
{% load static %}

{% block css %}
{% endblock  %}


{% block body %}

<div class="card w-50 mx-auto p-4">
    <div class="card-header py-3 mb-3">
        <h6 class="m-0 font-weight-bold text-primary">  
        <i class="fa fa-plus">  </i>    Eczane Düzenle
         </h6>
    </div>
    <form method="post" action="">
        {% csrf_token %}

        <div class="row ">
            <div class="col-md-12 mt-2">
                <label for="id_username" class= "text-md">
                    {{form.username.label}}
                    </label>
                    {% if form.username.errors %}
                    {{form.username}}                       
                    <div class="col-sm-12 mb-3 mb-sm-0">
                    {{ form.username.errors }}
                    </div>
                    {% else %}  
                    {{form.username}}
                    {% endif %} 
           
            </div>
            <div class="col-md-12 mt-2">
                <label for="id_email" class= "text-md">
                    {{form.email.label}}
                    </label>
                {% if form.email.errors %}
                {{form.email}}                       
                <div class="col-sm-12 mb-3 mb-sm-0">
                {{ form.email.errors }}
                </div>
                {% else %}  
                {{form.email}}
                {% endif %} 
            </div>
    
          


                <div class="col-md-12 mt-2">
                    <label for="id_pharmacy_name" class= "text-md">
                        {{form_profile.pharmacy_name.label}}
                        </label>
                    {% if form.pharmacy_name.errors %}
                    {{form_profile.pharmacy_name}}                       
                    <div class="col-sm-12 mb-3 mb-sm-0">
                    {{ form_profile.pharmacy_name.errors }}
                    </div>
                    {% else %}  
                    {{form_profile.pharmacy_name}}
                    {% endif %} 
    
                    </div>

                <div class="col-md-12 mt-2">
                    <label for="id_address" class= "text-md">
                        {{form_profile.address.label}}
                        </label>
                    {% if form_profile.address.errors %}
                    {{form_profile.address}}                       
                    <div class="col-sm-12 mb-3 mb-sm-0">
                    {{ form_profile.address.errors }}
                    </div>
                    {% else %}  
                    {{form_profile.address}}
                    {% endif %} 
    
                    </div>
        </div>
        
        <button
        type="submit"
        class="px-5 py-2 mr-3 mt-3 font-bold text-center text-white uppercase btn bg-gradient-primary"
        id="submit_button"
   
        >
        <i class="fa fa-plus">  </i> Düzenle
        </button>
    </form>
</div>

{% endblock  %}


{% block js %}
{% endblock  %}
