{% extends 'layout.html' %}
{% load static %}

{% block css %}
{% endblock  %}


{% block body %}




<div id="edit_pharmacy_container"></div>




{% endblock  %}


{% block js %}
{% endblock  %}
{% block extra_js %}
<script>
    

    window.pharmacy = {
        username:"{{ instance.username }}",
        email:"{{ instance.email }}",
        pharmacy_id: "{{ instance.id }}",
    

    }

    window.pharmacy_profile = {
        pharmacy_name: "{{ instance_profile.pharmacy_name }}",
        pharmacy_profile_id: "{{ instance_profile.id }}",
        address: "{{ instance_profile.address }}",
    }

</script>


<script src="{% static 'react/edit_pharmacy.js' %}" type="text/babel"></script>
{% endblock  %}
