{% extends 'layout.html' %}
{% load static %}

{% block css %}
{% endblock  %}


{% block body %}



<div id="edit_item_container"></div>
{% endblock  %}


{% block js %}
{% endblock  %}
{% block extra_js %}
<script>
    

    window.item = {
        quantity:"{{ instance.quantity }}",
        status:"{{ instance.status }}",
        item_name: "{{ instance.item_name }}",
        id: "{{ instance.id }}",
    }



</script>


<script src="{% static 'react/edit_item.js' %}" type="text/babel"></script>
{% endblock  %}
